/* app css stylesheet */
body, html {
    width: 100%;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.remove-button {
    padding-top: 50px;
    padding-left: 50px;
}

.amount {
    font-size: 30px;
    text-align: center;
}

.table2 {
    width: 35%;
    margin-top: 50px;
    margin-left: 100px;
    padding: 5px 10px 5px 10px;
}

.col-md-6 {
    margin-top: 50px;
}

.form {
    margin-left: 25px;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
    display: inline-block;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    display: inline-block;
}